/config
/node_modules
/public/hot
/public/storage
/resources/views/vendor
/secret
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
